<!-- =========================== -->
<!-- ========  HEADER  ========= -->
<!-- =========================== -->
<div id="header_layout">
	<!-- =========================== -->
	<!-- ========   LOGO   ========= -->
	<!-- =========================== -->
	<div id="logo_layout">
		<%= image_tag("green_logo_5", id: "logo_head_svg") %>
		<%= image_tag("green_logo_5", id: "logo_head_svg_hidde") %>
		<p id="logo_mainLetter">
			SKYWALK
		</p>
	</div>
	<!-- =========================== -->
	<!-- =========================== -->
</div>


<!-- =========================== -->
<!-- ========  CONTENT  ======== -->
<!-- =========================== -->
<div id="content_layout">
	<!-- =========================== -->
	<!-- ========  BANNER  ========= -->
	<!-- =========================== -->
	<div id="banner_layout">
		<!-- =========================== -->
		<!-- ========  LETTERS  ======== -->
		<!-- =========================== -->
		<p id="banner_mainLetter">
			<b id="banner_hide_letter">
				SKYWALK
			</b>
			<br/>
			THE FRAMEWORK OF THE EDGE
			<br/>
		</p>
		<!-- =========================== -->
		<!-- =======  DOWNLOADS  ======= -->
		<!-- =========================== -->
		<div id="download_layout">
			<ul id="download_layout_ul">
				<!-- =================== -->
				<!-- ====== VIDEO ====== -->
				<!-- =================== -->
				<!--
				<video autoplay muted loop id="myVideo">
				  <source src='< %= asset_path("skywalk_novos_1.mp4") %>' type="video/mp4">
				</video>	
				-->			
				<!-- =================== -->
				<!-- =================== -->
				<li><i class="fa fa-linux"></i> linux </li>
				<li><i class="fa fa-apple"></i> mac </li>
				<li><i class="fa fa-windows"></i> windows </li>
				<!-- ********************** -->
				<!--
				<li>linux</li>
				<li>mac</li>
				<li>windows</li>
				<li><i class="fa fa-linux"></i> linux </li>
				<li><i class="fa fa-apple"></i> mac </li>
				<li><i class="fa fa-windows"></i> windows </li>
				-->
				<!-- ********************** -->
			</ul>
		</div>
		<!-- =========================== -->
		<!-- =========================== -->
	</div>
	<!-- =========================== -->
	<!-- =========================== -->
</div>


<!-- =========================== -->
<!-- =========================== -->
<!-- =========================== -->
