/* =================== */
/*    ALL THE FONTS    */
/* =================== */

@font-face {
  font-family: 'Quicksand-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/Quicksand-Regular');
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/Lato-Regular');
}
